<header class="w-full py-6 text-[#254E6E]">
    <div class="max-w-6xl mx-auto px-6 flex justify-between items-center">
        <h1 class="text-lg font-semibold"><a href="https://verorod.github.io/"
                class="hover:text-white transition">Verocrod</a></h1>

        <nav class="space-x-8 text-sm">
            <a href="https://verorod.github.io/" class="hover:text-white transition">Home</a>
            <a href="https://www.linkedin.com/in/verocrod/" class="hover:text-white transition">LinkedIn</a>
            <a href="#" class="hover:text-white transition">Resume</a>
        </nav>
    </div>
</header>
